asgiref==3.7.2 
beautifulsoup4==4.12.2 
certifi==2023.7.22 
cffi==1.15.1 
charset-normalizer==3.2.0 
contextlib2==21.6.0 
crispy-bootstrap5==0.7 
cryptography==41.0.4 
django-crispy-forms==2.1 
django-ninja-extra==0.19.3 
django-ninja-jwt==5.2.5 
django-ninja==0.22.2 
django==4.2.5 
idna==3.4 
injector==0.21.0 
pycparser==2.21 
pydantic==1.10.12 
pyjwt==2.8.0 
pyjwt[crypto]==2.8.0 
requests==2.31.0 
soupsieve==2.5 
sqlparse==0.4.4 
typing-extensions==4.8.0 
tzdata==2023.3 
urllib3==2.0.5 
validators==0.22.0 
