<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}

   <link rel="stylesheet" id="temp" href="{% static 'css/bulma.min.css' %}" />
    <link rel="shortcut icon" href="{% static 'image/news-120x120.png' %}" type="image/x-icon" />
    {% block title %}

    {% endblock %}
    <script>
      function loadTheme() {
        const themeName = localStorage.getItem('selectedTheme') || 'materia';
    
        const linkelement = document.createElement('link');
        linkelement.rel = 'stylesheet';
        linkelement.href = `https://jenil.github.io/bulmaswatch/${themeName.toLowerCase()}/bulmaswatch.min.css`;
        document.head.appendChild(linkelement);
        oldtheme = document.getElementById("temp").remove();
    }
    
    // Call the function to load the theme when the page loads
    document.addEventListener('DOMContentLoaded', loadTheme);
    
    </script>
  </head>

  <body>
    {% include "navbar.html" %}

    <div class="container">
      {% block body %}

      {% endblock %}
      {% block pagination %}

      {% endblock %}
    </div>

    <footer class="footer">
  <div class="content has-text-centered">
    <p>&copy; 2023 <strong>Horkora</strong>. All Rights Reserved.

    </p>
  </div>
</footer>
  </body>
</html>
