<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Your Website Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block body %}{% endblock %}
        {% block pagination %} {% for page_number in page_obj.paginator.page_range %} {% endfor %} {% endblock %}
    </div>

    <footer>
        <div class="container">
            &copy; 2023 Horkora. All Rights Reserved.
        </div>
    </footer>
</body>

</html>