{% extends "news/base.html" %}
{% block title %}
<title>{{ category }} | Category</title>
{% endblock %}

{% block body %}

{% if not articles %}
<h1 style="justify-content: center;">
    This Category Doesn't Have Any Post Releated.
</h1>
{% else %}
<h2>Post in {{ category.capitalize }}:</h2>
{% endif %}


{% for article in articles %}

<div class="news-card container">
    <a href="/news/{{ article.id }}">
        <h2 class="news-title">{{ article.title }}</h2>
    </a>
    <div>
        {% if article.category.all %}
        <p style="float: left;">Category: </p>
        {% for category in article.category.all %}
        <a href="/categories/{{ category.slug }}">
            <p class="news-category">
                {{ category }}
            </p>
        </a>

        {% endfor %}
        {% endif %}
    </div>
    <p class="news-summary">{{ article.summery }}</p>
    <a href="{{ article.news_link }}" class="button button-primary" style="justify-content: center;"
        target="_blank">Read Full Story</a>
</div>
{% endfor %}

{% endblock %}