{% extends "news/base.html" %} {% block title %}Daniel{% endblock %}
{% block body %}
{% for article in articles %}

<div class="news-card container">
    <a href="/news/{{ article.id }}">
        <h2 class="news-title">{{ article.title }}</h2>
    </a>
    <div>
        {% if article.category.all %}
        <p style="float: left;">Category: </p>
        {% for category in article.category.all %}
        <p class="news-category">
            {{ category }}
        </p>
        {% endfor %}
        {% endif %}
    </div>
    <p class="news-summary">{{ article.summery }}</p>
    <a href="{{ article.news_link }}" class="button button-primary" style="justify-content: center;"
        target="_blank">Read Full Story</a>
</div>
{% endfor %}
{% endblock %}
{% block pagination %}
{% endblock %}