{% extends 'news/base.html' %} {% block title %}
<title>News List</title>
{% endblock %} {% block body %}
<h1 class="is-size-2 is-centered">Latest News</h1>
<div class="columns is-multiline">
  {% for article in articles %}
  <div class="column is-half">
    <div class="box has-text-centered">
      <h1 class="is-size-3" style="text-align:center;">{{ article.title }}</h1>
      <p style="text-align:center;">
      {{ article.summery }}
      </p>
      <a href="{{ article.news_link }}" target="_blank">
        <button type="button" class="button is-primary is-light">Open News</button>
      </a>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %} {% block pagination %}
<br />
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if page.has_previous %}
    <a class="pagination-previous" href="{% url 'news_list_page' page.previous %}">Previous</a>
  {% else %}
    <a class="pagination-previous is-disabled">Previous</a>
  {% endif %}
  {% if page.has_next %}
    <a class="pagination-next" href="{% url 'news_list_page' page.next %}">Next page</a>
  {% else %}

    <a class="pagination-next is-disabled">Next page</a>

  {% endif %}

<!--
 <ul class="pagination-list">
   
    <li><a class="pagination-link" aria-label="Goto page 45">{{ page.current|add:"-1" }}</a></li>
    <li><a class="pagination-link is-current is-disabled" aria-label="Page {{ page.current }}" aria-current="page">{{ page.current }}</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">{{ page.current|add:"+1" }}</a></li>


  </ul>
-->
 
</nav>

{% endblock %}
