{% extends 'news/base.html' %}
{% block title %}
  <title>News List</title>
{% endblock %}
{% block body %}
  <h1 class="mt-3">Latest News</h1>
  <div class="row">
    {% for article in articles %}
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <a href="{% url 'news' article.id %}"><h5 class="card-title">{{ article.title }}</h5></a>

            <p class="card-text">{{ article.summery }}</p>
            <a href="{{ article.news_link }}" target="_blank" class="btn btn-primary">Open News</a>
          </div>
          <div class="card-footer text-muted">{{ article.updated_at|date }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block pagination %}

{% endblock %}
