{% extends 'news/base.html' %} {% block body %}
<div class="columns is-centered">
  <div class="column is-three-quarters">
    <div class="content">
      <a href="{{ article.news_link }}">
        <h1 class="title">{{ article.title }}</h1>
      </a>

      <p class="subtitle">By {{ article.author }} | Published on {{ article.published_at }}</p>
      <p>
        {{ article.summery }}
      </p>
      <div class="tags">
        {% for category in article.category.all %}
        <a href="{% url 'categories_to' category.slug %}">
          <span class="tag is-primary">{{ category.title }}</span></a>

        {% endfor %}
      </div>

      <p>{{ article.content }}</p>
    </div>
  </div>
</div>

{% endblock %}
